

.app-nav{
  background-color:blueviolet;
  text-align: right;
  font-size:20px;
  padding:20px;
  border-radius: 60px;
  margin-top: 110px;
  margin-bottom: 50px;
  display:flex;

}
.app-nav span a{
  text-decoration: none;
  color:white;
  margin-right: 10px;
}



.shadow{
  /* box-shadow: #333 0px 1px 5px; */
  box-shadow: rgb(67, 60, 60) 0px 5px 30px !important;
}




.blog-container{
  padding: 24px;
  height: 500px;
  background-color:rgb(172, 91, 144);
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 30px;
}

.like-btn:active{
  background-color: rgb(56, 51, 51) !important;
}


.app-nav button{
  margin-right: 16px;
}

.blog-container table tr{
  height:50px;
}

.blog-container table .blog-list-btn{
  width:450px;
  height: 50px;
  background-color: rgb(75, 75, 190);
  color:white;
  border-radius: 40px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgb(67, 60, 60) 0px 5px 10px !important;
}

.blog-container table .blog-category{
  padding:4px;
  background-color: green;
  border-radius: 10px;
  box-shadow: rgb(67, 60, 60) 0px 1px 5px !important;
}